/*-----------------
    COLORS
-----------------*/
.bg-primary-color {
    background-color: #19BC9C;
}
.bg-secondary-color {
    background-color: #2C3E4F;
}
.bg-tertiary-color {
    background-color: #3b536d;
}

/*-----------------
    CONTAINERS
-----------------*/
.ms_container{
    width: 60%;
    margin: auto;
}

/*-----------------
    BUTTONS
-----------------*/
.ms_btn-download {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.ms_btn-header {
    background-color: transparent;
    border-color: #fff;
    color: #888888;
}

/*-----------------
    TYPO
-----------------*/
h2 {
    text-align: center;
    text-transform: uppercase;
}

/*-----------------
    HEADER
-----------------*/
header {
    color: #fff;
}

.header-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 0 10px;
    margin-bottom: 0px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #fff;
}

/*-----------------
    MAIN
-----------------*/
.hero {
    color: #fff;
    text-align: center;
}

.about {
    color: #fff;
}

.red {
    background-color: #ba4b63;
}

.aquamarine {
    background-color: #1ea4b6;
}

.black {
    background-color: #140f0f;
}

.blue {
    background-color: #1c83c1;
}

.darkblue {
    background-color: #0e38b5;
}

.brown {
    background-color: #ccb2a3;
}

/*-----------------
    FOOTER
-----------------*/
footer {
    color: #fff;
    text-align: center;
}