/*-----------------
    COLORS
-----------------*/
.bg-primary-color {
    background-color: #19BC9C;
}
.bg-secondary-color {
    background-color: #2C3E4F;
}
.bg-tertiary-color {
    background-color: #3b536d;
}

/*-----------------
    CONTAINERS
-----------------*/
.ms_container{
    width: 60%;
    margin: auto;
}

/*-----------------
    BUTTONS
-----------------*/
.ms_btn-download {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.ms_btn-header {
    background-color: transparent;
    border-color: #fff;
    color: #888888;
}

/*-----------------
    TYPO
-----------------*/
h2 {
    text-align: center;
    text-transform: uppercase;
}

/*-----------------
    HEADER
-----------------*/
header {
    color: #fff;
}

.header-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 0 10px;
    margin-bottom: 0px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #fff;
}

button i {
    font-size: 20px;
}

/*-----------------
    MAIN
-----------------*/
.hero {
    color: #fff;
    text-align: center;
}

.hero-img {
    height: 250px;
}

.decoration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.decoration-bar {
    background-color: #fff;
    width: 15%;
    height: 4px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 10px;
}

.fa-star {
    font-size: 24px;
}

.portfolio {
    color: #2c3e50;
}

.portfolio-bar {
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
}

.ms_col-br {
    border-radius: 10px;
}

.red {
    background-color: #ba4b63;
}

.aquamarine {
    background-color: #1ea4b6;
}

.black {
    background-color: #140f0f;
}

.blue {
    background-color: #1c83c1;
}

.darkblue {
    background-color: #0e38b5;
}

.brown {
    background-color: #ccb2a3;
}

.about {
    color: #fff;
}

/*-----------------
    FOOTER
-----------------*/
footer {
    color: #fff;
    text-align: center;
}